@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 330 67% 94%;
    --foreground: 330 30% 15%;
    --card: 330 67% 98%;
    --card-foreground: 330 30% 15%;
    --popover: 330 67% 98%;
    --popover-foreground: 330 30% 15%;
    --primary: 330 100% 71%;
    --primary-foreground: 330 100% 10%;
    --secondary: 330 60% 88%;
    --secondary-foreground: 330 30% 15%;
    --muted: 330 60% 91%;
    --muted-foreground: 330 20% 45%;
    --accent: 337 77% 40%;
    --accent-foreground: 337 77% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 20% 85%;
    --input: 330 20% 88%;
    --ring: 337 77% 40%;
    --radius: 0.5rem;
    --chart-1: 330 100% 71%;
    --chart-2: 337 77% 40%;
    --chart-3: 330 80% 60%;
    --chart-4: 337 60% 50%;
    --chart-5: 330 70% 80%;
    --sidebar-background: 330 30% 12%;
    --sidebar-foreground: 330 30% 90%;
    --sidebar-primary: 330 100% 71%;
    --sidebar-primary-foreground: 330 100% 10%;
    --sidebar-accent: 330 40% 25%;
    --sidebar-accent-foreground: 330 30% 95%;
    --sidebar-border: 330 30% 20%;
    --sidebar-ring: 337 77% 50%;
  }

  .dark {
    --background: 330 10% 10%;
    --foreground: 330 10% 90%;
    --card: 330 10% 12%;
    --card-foreground: 330 10% 90%;
    --popover: 330 10% 10%;
    --popover-foreground: 330 10% 90%;
    --primary: 330 100% 71%;
    --primary-foreground: 330 100% 10%;
    --secondary: 330 10% 20%;
    --secondary-foreground: 330 10% 95%;
    --muted: 330 10% 20%;
    --muted-foreground: 330 10% 60%;
    --accent: 337 77% 50%;
    --accent-foreground: 337 77% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 10% 25%;
    --input: 330 10% 25%;
    --ring: 337 77% 50%;
    --chart-1: 330 100% 71%;
    --chart-2: 337 77% 50%;
    --chart-3: 330 80% 60%;
    --chart-4: 337 60% 60%;
    --chart-5: 330 70% 80%;
    --sidebar-background: 330 10% 10%;
    --sidebar-foreground: 330 10% 90%;
    --sidebar-primary: 330 100% 71%;
    --sidebar-primary-foreground: 330 100% 10%;
    --sidebar-accent: 330 10% 20%;
    --sidebar-accent-foreground: 330 10% 95%;
    --sidebar-border: 330 10% 25%;
    --sidebar-ring: 337 77% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
